VONAGE_APPLICATION_ID=
VONAGE_PRIVATE_KEY=./private.key
RCS_SENDER_ID=
VONAGE_API_SIGNATURE_SECRET=

VONAGE_API_KEY=
VONAGE_API_SECRET=

PHONE_NUMBER=
PORT=3000
PUBLIC_URL=

WEATHER_API_KEY=
GEMINI_API_KEY=
